<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.assistant.db.dao.OneMapper">
    <resultMap id="BaseResultMap" type="com.assistant.db.model.One">
        <id column="title" property="title" jdbcType="VARCHAR"/>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="hp_makettime" property="hpMakettime" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.assistant.db.model.One" extends="BaseResultMap">
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    title, img_url, author, hp_makettime
  </sql>
    <sql id="Blob_Column_List">
    content
  </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from one
        where title = #{title,jdbcType=VARCHAR}
    </select>

    <select id="selectAll" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from one
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from one
    where title = #{title,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.assistant.db.model.One">
    insert into one (title, img_url, author,
      hp_makettime, content)
    values (#{title,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR},
      #{hpMakettime,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.assistant.db.model.One">
        insert into one
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                title,
            </if>
            <if test="imgUrl != null">
                img_url,
            </if>
            <if test="author != null">
                author,
            </if>
            <if test="hpMakettime != null">
                hp_makettime,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="hpMakettime != null">
                #{hpMakettime,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.assistant.db.model.One">
        update one
        <set>
            <if test="imgUrl != null">
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="hpMakettime != null">
                hp_makettime = #{hpMakettime,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where title = #{title,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.assistant.db.model.One">
    update one
    set img_url = #{imgUrl,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      hp_makettime = #{hpMakettime,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where title = #{title,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.assistant.db.model.One">
    update one
    set img_url = #{imgUrl,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      hp_makettime = #{hpMakettime,jdbcType=VARCHAR}
    where title = #{title,jdbcType=VARCHAR}
  </update>
</mapper>