<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.assistant.db.dao.PlanMapper">
    <resultMap id="BaseResultMap" type="com.assistant.db.model.Plan">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="total" property="total" jdbcType="INTEGER"/>
        <result column="current" property="current" jdbcType="INTEGER"/>
        <result column="unit" property="unit" jdbcType="CHAR"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
        <result column="is_finished" property="isFinished" jdbcType="CHAR"/>
        <result column="start_dt" property="startDt" jdbcType="TIMESTAMP"/>
        <result column="end_dt" property="endDt" jdbcType="TIMESTAMP"/>
        <result column="daily_id" property="dailyId" jdbcType="INTEGER"/>
        <result column="category" property="category" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, content, total, current, unit, gmt_create, gmt_modified, is_finished,
        start_dt, end_dt, daily_id, category
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from plan
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectActivePlans" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from plan
        where now() &gt;= start_dt and now() &lt;= end_dt
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from plan
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.assistant.db.model.Plan">
    insert into plan (id, content,
      total, current, unit,
      gmt_create, gmt_modified, is_finished,
      start_dt, end_dt, daily_id, category)
    values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR},
      #{total,jdbcType=INTEGER}, #{current,jdbcType=INTEGER}, #{unit,jdbcType=CHAR},
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{isFinished,jdbcType=CHAR},
      #{startDt,jdbcType=TIMESTAMP}, #{endDt,jdbcType=TIMESTAMP},#{dailyId,jdbcType=INTEGER},#{category,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.assistant.db.model.Plan">
        insert into plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="total != null">
                total,
            </if>
            <if test="current != null">
                current,
            </if>
            <if test="unit != null">
                unit,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="isFinished != null">
                is_finished,
            </if>
            <if test="startDt != null">
                start_dt,
            </if>
            <if test="endDt != null">
                end_dt,
            </if>
            <if test="dailyId != null">
                daily_id,
            </if>
            <if test="category != null">
                category,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="total != null">
                #{total,jdbcType=INTEGER},
            </if>
            <if test="current != null">
                #{current,jdbcType=INTEGER},
            </if>
            <if test="unit != null">
                #{unit,jdbcType=CHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="isFinished != null">
                #{isFinished,jdbcType=CHAR},
            </if>
            <if test="startDt != null">
                #{startDt,jdbcType=TIMESTAMP},
            </if>
            <if test="endDt != null">
                #{endDt,jdbcType=TIMESTAMP},
            </if>
            <if test="dailyId != null">
                #{dailyId,jdbcType=INTEGER},
            </if>
            <if test="category != null">
                #{category,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.assistant.db.model.Plan">
        update plan
        <set>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="total != null">
                total = #{total,jdbcType=INTEGER},
            </if>
            <if test="current != null">
                current = #{current,jdbcType=INTEGER},
            </if>
            <if test="unit != null">
                unit = #{unit,jdbcType=CHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="isFinished != null">
                is_finished = #{isFinished,jdbcType=CHAR},
            </if>
            <if test="startDt != null">
                start_dt = #{startDt,jdbcType=TIMESTAMP},
            </if>
            <if test="endDt != null">
                end_dt = #{endDt,jdbcType=TIMESTAMP},
            </if>
            <if test="dailyId != null">
                daily_id = #{dailyId,jdbcType=INTEGER},
            </if>
            <if test="category != null">
                category = #{category,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.assistant.db.model.Plan">
        update plan
        set content = #{content,jdbcType=VARCHAR},
        total = #{total,jdbcType=INTEGER},
        current = #{current,jdbcType=INTEGER},
        unit = #{unit,jdbcType=CHAR},
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
        is_finished = #{isFinished,jdbcType=CHAR},
        start_dt = #{startDt,jdbcType=TIMESTAMP},
        end_dt = #{endDt,jdbcType=TIMESTAMP},
        daily_id = #{dailyId,jdbcType=INTEGER},
        category = #{category,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>